/* sidenav */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #104565;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav .title {
    color: white;
    text-align: center;
  }

  .sidenav hr {
    color: white;
  }  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #2793ff;
    cursor: pointer;
  }
  
  /* main page content */
  .main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  /* dashboard cards */
  .card-row {
    display: flex;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    background-color: #2793ff;
    text-align: center;
    margin: 25px;
  }

  .card img {
    width: 50%;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .container {
    background-color: black;
    color: white;
    padding: 5px;
  }